.footer {
	width: 100%;
	height: 0;
	background-color: #18206F;
	display: flex;
	justify-content: space-around;
	align-items: center;	
	padding: 1%;
}
footer p{
	color: white !important;
}
footer a {
	color: white !important;
	text-decoration: none!important ;
}
footer a:hover{
	text-decoration: none!important ;
}
.social-icons {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	color: #DD8F8F !important;
}
.social-icons .réseau {
	width: 24px;
	height: 24px;
}