.navbar {
  width: 100%;
  height: 80px;
<<<<<<< HEAD
  background-color: #18206F;
=======
  background-color: rgb(19, 19, 19);
>>>>>>> refs/remotes/origin/visuel
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
<<<<<<< HEAD
  padding: 2% 0;
=======
>>>>>>> refs/remotes/origin/visuel
}

.links {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}

.button-container {
  display: flex;
<<<<<<< HEAD
  /* justify-content: center; */
  align-items: center;
  /* Adjust this value as needed */
=======
  align-items: center;
>>>>>>> refs/remotes/origin/visuel
}

.button-wrapper {
  margin-left: 60%;
<<<<<<< HEAD
  /* Add spacing between button divs */
}

.button-wrapper button {
  /* Add any specific styling for the buttons here */
  background-color: #E8DDCA;
}
.button-wrapper button:hover {
  background-color: #e2c38d;
}

.button-container {
  display: flex;
  gap: 20px;
  /* Adjust the gap between buttons as needed */
}

.button-wrapper {
  border-radius: 8px;
  /* Apply border radius */
  /* Hide any overflowing content */
}

.button-wrapper button {
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.css-1orzy9s{
  margin: 0 182px 1% 182px !important;
}
.bl{
  background-color: #2b3488 !important;
=======
  /* border-radius: 50px; */
}

.button-wrapper button {
  background-color: grey;
}

.button-wrapper button:hover {
  background-color: rgb(19, 19, 19);
  width: 125%;
  transition: 0.3s ease-in;
  text-decoration: double;
  border: solid  grey;
}

.button-wrapper button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border: solid blue;
  border-radius: 50px;
>>>>>>> refs/remotes/origin/visuel
}