.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
}

.links {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}

.button-container {
  display: flex;
  align-items: center;
}

.button-wrapper {
  margin-left: 60%;
  /* border-radius: 50px; */
}

.button-wrapper button {
  background-color: grey;
}

.button-wrapper button:hover {
  background-color: rgb(19, 19, 19);
  width: 125%;
  transition: 0.3s ease-in;
  text-decoration: double;
  border: solid  grey;
}

.button-wrapper button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border: solid blue;
  border-radius: 50px;
}